*{
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 10%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}

.logo{
  width: 70px;
  /*cursor: pointer;*/
  margin: 30px 0;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}

nav ul li a{
  text-decoration: none;
  color: #3D3C3A;
  font-size: 15px;
}

nav ul li a:hover{
  color: #6960EC;
}

.web-desc{
  margin-top: 80px;
  color: #3D3C3A;
  font-size: 30px;
}

.line{
  margin-top: 30px;
}

h1{
  font-weight: bold;
  margin-top: 50px;
  font-size: 40px;
}

.category-desc{
  margin-top: 30px;
  font-size: 18px;
}

.category-image{
  margin-top: 25px;
}
