*{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
}



body{
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images2/background.jpg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container{
  width: 100%;
  height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;


}

.navbar{
  height: 12%;
  display: flex;
  align-items: center;
}

.logo{
  width: 70px;
  cursor: pointer;
  margin: 30px 0;
  margin-top: 90%;;
}

.menu-icon{
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 80px;
}

nav ul li a{
  text-decoration: none;
  color: #00FFFF;
  font-size: 13px;
}

nav ul li a:hover{
  color: #000;
  background-color: #00FFFF;
}


#eidf{
  position: absolute;
  padding-top: 100px;
  left: 20%;
  margin-left: 10%;
  background: #90EE90;

}

#Settings{
  width: 280px;
  height: 480px;
  border: 3px solid #808080;
  position: absolute;
  top: 150px;
  right: 50px;
  background-color: #FEC9A7;
  border-radius: 20px;

}
.set{
  width: 270px;
  position: inherit;
  bottom: 8%;
  left: 10%;
  z-index: +1;
}
#button{
  position: inherit;
  left: 55%;
  bottom: 20%;
}
.bagascontainer{
  width: 268px;
  position: inherit;
  top: 10%;
  left: 5%;
}
#seemsg{
  font-family: Calisto MT;
  font-size: 20px;
  color: black;
  bottom: 30%;
  left: 10%;
  right: 10%;

}
span{
  font-family: Comic sans;
  font-size: 20px;
  color: #8b4513;
  position:absolute;
  bottom: 5%;
  right: 50%;
}
