*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



body{
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images2/background.jpg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.container{
  width: 100%;
  height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;

}



.navbar{
  height: 12%;
  display: flex;
  align-items: center;
}

.logo{
  width: 70px;
  cursor: pointer;
  margin: 30px 0;
  margin-top: 90%;;
}

.menu-icon{
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

.row{
  display: flex;
  height: 88%;
  align-items: center;
}

.col{
  flex-basis: 50%;

}

h1{
  color: #fff;
  font-size: 100px;
}

p{
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}

button{
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

.card{
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(images2/pic-1.png);
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}


.informal {
  background-image: url(images2/pic-1.png);
}
.formal {
  background-image: url(images2/pic-2.png);
}
.corporate {
  background-image: url(images2/pic-3.png);
}
<<<<<<< HEAD
.customise {
  background-image: url(images2/pic-4.png);
}

.card:hover{
  transform: translateY(-10px);
}

=======

  .modal-bg, .modal-bg1, .modal-bg2, .modal-bg3{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active, .bg-active1, .bg-active2, .bg-active3{
  visibility: visible;
  opacity: 1;
}



.modal{
  position: relative;
  background-color: #fff;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
>>>>>>> 6ed6711f0cf374e3136d7b63c50d699090096ff6

h5{
  color: #fff;
<<<<<<< HEAD
  text-shadow: 0 0 5px #999;
}

.card p {
  text-shadow: 0 0 5px #000;
  font-size: 8px;
=======
  border: none;
  cursor: pointer;
}

.modal-close, .modal-close1, .modal-close2, .modal-close3{
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  transform: rotate(45deg);
  font-size: 30px;
}

.informal-direct, .formal-direct, .corporate-direct, .customise-direct{
  height: 50px;
  width: 40px;
>>>>>>> 6ed6711f0cf374e3136d7b63c50d699090096ff6
}

button{
  padding: 10px 30px;
  background-color: #2980b9;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}
