#card{
  width: 842px ;
  height: 598px auto;
  position: absolute;
  top: 20%;
  left: 32%;
background: #FFDFDD;
}
#hbd{
  width:100%;
  height:100% auto;
}
#Option{
  width: 280px;
  height: 480px;
  border: 3px solid black;
  position: absolute;
  top: 210px;
  left: 50px;
}
h2{
  position: inherit;
  top: 2%;
  left: 36%;
}
#button{
position: inherit;
left: 55%;
bottom: 5%;
padding: 5px;
border: 2px solid black;
z-index: +1;
}
.t1{
width: 268px;
position: inherit;
bottom: 48%;
left: 5%;
}
.uinput{
  width: 268px;
  position: inherit;
  top: 10%;
  left: 5%;
}
#display{
  font-family: Bradley Hand;
  font-style: italic;
  font-size: 20px;
  color: #2C3539;
}
#display-box{
  width: 320px;
  height: 60px;
  position: inherit;
  bottom: 18%;
  right: 2%;
}
#dragdrop{
  width: 280px;
  height: 280px;
  position: inherit;
  bottom: 15%;
}
#dpkiri{
  width: 200px;
  height: 180px;
position: inherit;
bottom: 35%;
}
#dpkanan{
  width: 200px;
  height: 180px;
  position: inherit;
  bottom: 35%;
  right: 0%;
}
#msg-box{
width: 430px;
height: 130px;
position:inherit;
bottom: 30%;
left: 24%;
text-align: center;
}

#msg{
  font-size: 15px;
  font-family: Candara;
}
#recipient-box{
  width: 420px;
  height: 70px;
  top: 36%;
  right: 25%;
  position: inherit;
  text-align: center;
}
#display-recipient{
  font-family: Candara;
  color: #2C3539;
  font-size: 50px;
}
.slide{
  width: 200px;
  height: 180px;
}
div.scrollmenu img{
  display: inline-block;
  color: white;
  text-decoration: none;
  width:70px;
  height: 50px;
}
div.scrollmenu{
  overflow: auto;
white-space: nowrap;
}
#dragdrop{
width: 280px;
height: 70px;
position: inherit;
bottom: 24%;
padding-top: 25px;
border-top: 3px solid black;
border-bottom: 3px solid black;
}
#message{
  width: 240px;
  height: 50px;
}
.all-button{
position: relative;
top: 80%;

}
.butang{
  position: inherit;
  margin:10px;
  background:  #E68E36;
  border: none;
  padding:5px;

}
.butang:hover{
  background-color: #D18623;
}
.butang:active {
  background-color: #D18623;
  box-shadow: 0 5px #C56A1D;
  transform: translateY(4px);
}
